@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers (Chrome, Safari, etc.) */
}

/* Optional: Ensure scrollbar is hidden in Firefox */
* {
  scrollbar-width: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
