<div class="flex justify-center w-3/4 mx-auto mt-8 md:mt-16">
  <div class="w-full bg-first rounded-md shadow-md sm:max-w-md">
    <div class="p-8 md:p-12">
      <!-- Profile Title -->
      <h1
        class="text-primary font-semibold font-serif text-xl md:text-2xl mb-4 md:mb-6"
      >
        Profile Information
      </h1>
      <!-- Profile Form -->
      <form
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <!-- Name Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Name
          </label>
          <input
            type="text"
            formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for Name -->
          <div
            *ngIf="
              profileForm.get('name')!.touched &&
              profileForm.get('name')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span *ngIf="profileForm.get('name')!.errors?.['required']">
              Name is required.
            </span>
          </div>
        </div>
        <!-- Designation Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Designation
          </label>
          <input
            type="text"
            formControlName="designation"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for Designation -->
          <div
            *ngIf="
              profileForm.get('designation')!.touched &&
              profileForm.get('designation')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span *ngIf="profileForm.get('designation')!.errors?.['required']">
              Designation is required.
            </span>
          </div>
        </div>
        <!-- Profile Picture Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Profile Picture
          </label>
          <input
            type="file"
            (change)="onProfilePictureSelected($event)"
            accept="image/*"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
        </div>
        <!-- Age Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Age
          </label>
          <input
            type="number"
            formControlName="age"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for Age -->
          <div
            *ngIf="
              profileForm.get('age')!.touched && profileForm.get('age')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span *ngIf="profileForm.get('age')!.errors?.['required']">
              Age is required.
            </span>
            <span *ngIf="profileForm.get('age')!.errors?.['invalidAge']">
              Age must be above or equal 18.
            </span>
          </div>
        </div>
        <!-- Profile Summary Textarea -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Profile Summary
          </label>
          <textarea
            formControlName="profileSummary"
            rows="5"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          ></textarea>
          <!-- Error message for profileSummary -->
          <div
            *ngIf="
              profileForm.get('profileSummary')!.touched &&
              profileForm.get('profileSummary')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span
              *ngIf="profileForm.get('profileSummary')!.errors?.['required']"
            >
              Profile Summary is required.
            </span>
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full text-white font-serif bg-primary hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-xs md:text-sm p-2 md:p-2.5 text-center"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
