<div class="flex items-center justify-center min-h-[80vh] m-12">
  <!-- Profile Form Container -->
  <div class="w-full bg-first rounded-lg shadow-md sm:max-w-md xl:p-0">
    <!-- Form Content -->
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <!-- Profile Title -->
      <h1 class="text-xl text-primary font-bold font-serif mb-6 md:text-2xl">
        Profile Information
      </h1>
      <!-- Profile Form -->
      <form
        [formGroup]="profileForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <!-- Name Input -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 font-serif"
          >
            Name:
          </label>
          <input
            type="text"
            formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
          />
          <!-- Error message for Name -->
          <div
            *ngIf="
              profileForm.get('name')!.touched &&
              profileForm.get('name')!.invalid
            "
            class="text-red-500 text-sm mt-1 font-serif"
          >
            <!-- Show error message -->
            <span *ngIf="profileForm.get('name')!.errors?.['required']">
              Name is required.
            </span>
          </div>
        </div>
        <!-- Designation Input -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 font-serif"
          >
            Designation:
          </label>
          <input
            type="text"
            formControlName="designation"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
          />
          <!-- Error message for Designation -->
          <div
            *ngIf="
              profileForm.get('designation')!.touched &&
              profileForm.get('designation')!.invalid
            "
            class="text-red-500 text-sm mt-1 font-serif"
          >
            <!-- Show error message -->
            <span *ngIf="profileForm.get('designation')!.errors?.['required']">
              Designation is required.
            </span>
          </div>
        </div>
        <!-- Profile Picture Input -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 font-serif"
          >
            Profile Picture:
          </label>
          <input
            type="file"
            (change)="onProfilePictureSelected($event)"
            accept="image/*"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
          />
        </div>
        <!-- Age Input -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 font-serif"
          >
            Age:
          </label>
          <input
            type="number"
            formControlName="age"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
          />
          <!-- Error message for Age -->
          <div
            *ngIf="
              profileForm.get('age')!.touched && profileForm.get('age')!.invalid
            "
            class="text-red-500 text-sm mt-1 font-serif"
          >
            <!-- Show error message -->
            <span *ngIf="profileForm.get('age')!.errors?.['required']">
              Age is required.
            </span>
          </div>
        </div>
        <!-- Profile Summary Textarea -->
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 font-serif"
          >
            Profile Summary:
          </label>
          <textarea
            formControlName="profileSummary"
            rows="5"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
          ></textarea>
          <!-- Error message for profileSummary -->
          <div
            *ngIf="
              profileForm.get('profileSummary')!.touched &&
              profileForm.get('profileSummary')!.invalid
            "
            class="text-red-500 text-sm mt-1 font-serif"
          >
            <!-- Show error message -->
            <span
              *ngIf="profileForm.get('profileSummary')!.errors?.['required']"
            >
              profileSummary is required.
            </span>
          </div>
        </div>

        <!-- Work Experiences Array -->
        <div formArrayName="workExperiences">
          <!-- Loop through each work experience -->
          <div
            *ngFor="
              let workExperience of workExperiences.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <!-- Work Experience Title -->
            <div class="flex justify-between">
              <div
                class="block mb-2 text-base font-medium text-gray-900 font-serif"
              >
                Work Experience {{ i + 1 }}
              </div>
              <button
                type="button"
                (click)="removeWorkExperience(i)"
                class="text-white bg-primary hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-1 font-serif"
              >
                Remove
              </button>
            </div>
            <!-- Start Date Input -->
            <div>
              <label
                class="block mb-2 text-sm font-medium text-gray-900 font-serif"
              >
                Start Date:
              </label>
              <input
                type="date"
                formControlName="startDate"
                [max]="maxDate"
                class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
              />
              <!-- Error message for Start Date -->
              <div
                *ngIf="
                  profileForm.get('workExperiences.' + i + '.startDate')!
                    .touched &&
                  profileForm.get('workExperiences.' + i + '.startDate')!
                    .invalid
                "
                class="text-red-500 text-sm mt-1 font-serif"
              >
                <!-- Show error message -->
                <span
                  *ngIf="profileForm.get('workExperiences.' + i + '.startDate')!.errors?.['required']"
                >
                  Start Date is required.
                </span>
              </div>
            </div>
            <!-- End Date Input -->
            <div *ngIf="!workExperience.get('current')!.value">
              <label
                class="block mb-2 text-sm font-medium text-gray-900 font-serif"
              >
                End Date:
              </label>
              <input
                type="date"
                formControlName="endDate"
                [max]="maxDate"
                [min]="workExperience.get('startDate')!.value"
                class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
              />
            </div>

            <!-- Current Position Checkbox -->
            <div>
              <label
                class="block mb-2 text-sm font-medium text-gray-900 font-serif"
              >
                <input type="checkbox" formControlName="current" class="mr-1" />
                <span class="font-semibold font-serif">Current Position</span>
              </label>
            </div>
            <!-- Job Title Input -->
            <div>
              <label
                class="block mb-2 text-sm font-medium text-gray-900 font-serif"
              >
                Job Title:
              </label>
              <input
                type="text"
                formControlName="jobTitle"
                class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
              />
              <!-- Error message for Job Title -->
              <div
                *ngIf="
                  profileForm.get('workExperiences.' + i + '.jobTitle')!
                    .touched &&
                  profileForm.get('workExperiences.' + i + '.jobTitle')!.invalid
                "
                class="text-red-500 text-sm mt-1 font-serif"
              >
                <!-- Show error message -->
                <span
                  *ngIf="profileForm.get('workExperiences.' + i + '.jobTitle')!
                    .errors?.['required']"
                >
                  Job Title is required.
                </span>
              </div>
            </div>
            <!-- Company Input -->
            <div>
              <label
                class="block mb-2 text-sm font-medium text-gray-900 font-serif"
              >
                Company Name:
              </label>
              <input
                type="text"
                formControlName="company"
                class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
              />
              <!-- Error message for Company Name -->
              <div
                *ngIf="
                  profileForm.get('workExperiences.' + i + '.company')!
                    .touched &&
                  profileForm.get('workExperiences.' + i + '.company')!.invalid
                "
                class="text-red-500 text-sm mt-1 font-serif"
              >
                <!-- Show error message -->
                <span
                  *ngIf="profileForm.get('workExperiences.' + i + '.company')!
                    .errors?.['required']"
                >
                  Company Name is required.
                </span>
              </div>
            </div>
            <!-- Job Description Input -->
            <div>
              <label
                class="block mb-2 text-sm font-medium text-gray-900 font-serif"
              >
                Job Description:
              </label>
              <textarea
                formControlName="jobDescription"
                rows="5"
                class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 font-serif"
              ></textarea>
              <!-- Error message for Job Description -->
              <div
                *ngIf="
                  profileForm.get('workExperiences.' + i + '.jobDescription')!
                    .touched &&
                  profileForm.get('workExperiences.' + i + '.jobDescription')!
                    .invalid
                "
                class="text-red-500 text-sm mt-1 font-serif"
              >
                <!-- Show error message -->
                <span
                  *ngIf="profileForm.get('workExperiences.' + i + '.jobDescription')!
                    .errors?.['required']"
                >
                  Job Description is required.
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Error message for server-side errors -->
        <span
          *ngIf="errorMessage"
          class="block text-red-500 text-sm font-serif"
        >
          {{ errorMessage }}
        </span>

        <!-- Add Work Experience Button -->
        <button
          type="button"
          (click)="addWorkExperience()"
          class="text-sm font-medium text-primary hover:underline cursor-pointer font-serif"
        >
          Add Work Experience
        </button>
        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full text-white bg-primary hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 font-serif"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
