<nav class="bg-blue-200">
  <div class="flex justify-between items-center w-4/5 mx-auto py-3">
    <div><a routerLink="home">profileXpert</a></div>
    <ul class="flex justify-around items-center gap-12">
      <li><a routerLink="home" routerLinkActive="text-blue-600">Home</a></li>
      <li>
        <a routerLink="profile" routerLinkActive="text-blue-600">Profile</a>
      </li>
      <li>
        <a routerLink="signup" routerLinkActive="text-blue-600">SignUp</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="signin" routerLinkActive="text-blue-600">SignIn</a>
      </li>
      <li *ngIf="isLoggedIn">
        <button (click)="logout()">SignOut</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet />
