<div class="flex justify-center w-3/4 mx-auto mt-8 md:mt-16">
  <div class="w-full bg-first rounded-md shadow-md sm:max-w-md">
    <div class="p-8 md:p-12">
      <!-- Form Title -->
      <h1
        class="text-primary font-semibold font-serif text-xl md:text-2xl mb-4 md:mb-6"
      >
        {{ title }}
      </h1>
      <!-- Work Experience Form -->
      <form
        [formGroup]="workExperienceForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4"
      >
        <!-- Start Date Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
            >Start Date</label
          >
          <input
            type="date"
            formControlName="startDate"
            [max]="maxDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for Start Date -->
          <div
            *ngIf="
              workExperienceForm.get('startDate')!.touched &&
              workExperienceForm.get('startDate')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span
              *ngIf="workExperienceForm.get('startDate')!.errors?.['required']"
              >Start Date is required.</span
            >
          </div>
        </div>
        <!-- End Date Input (if not current position) -->
        <div *ngIf="!workExperienceForm.get('current')!.value">
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
            >End Date</label
          >
          <input
            type="date"
            formControlName="endDate"
            [max]="maxDate"
            [min]="workExperienceForm.get('startDate')!.value"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for End Date -->
          <div
            *ngIf="
              workExperienceForm.get('endDate')!.touched &&
              workExperienceForm.get('endDate')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span
              *ngIf="workExperienceForm.get('endDate')!.errors?.['required']"
              >End Date is required.</span
            >
          </div>
        </div>
        <!-- Current Checkbox -->
        <div class="flex items-center">
          <input
            type="checkbox"
            formControlName="current"
            class="text-primary border-gray-300 rounded font-serif"
            (click)="toggleCurrent()"
          />
          <label class="ml-1 text-sm font-medium text-gray-900 font-serif"
            >Current</label
          >
        </div>

        <!-- Job Title Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Job Title
          </label>
          <input
            type="text"
            formControlName="jobTitle"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for Job Title -->
          <div
            *ngIf="
              workExperienceForm.get('jobTitle')!.touched &&
              workExperienceForm.get('jobTitle')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span
              *ngIf="workExperienceForm.get('jobTitle')!.errors?.['required']"
              >Job Title is required.</span
            >
          </div>
        </div>
        <!-- Company Input -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Company
          </label>
          <input
            type="text"
            formControlName="company"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          />
          <!-- Error message for Company -->
          <div
            *ngIf="
              workExperienceForm.get('company')!.touched &&
              workExperienceForm.get('company')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span
              *ngIf="workExperienceForm.get('company')!.errors?.['required']"
              >Company is required.</span
            >
          </div>
        </div>
        <!-- Job Description Textarea -->
        <div>
          <label
            class="block mb-2 text-xs md:text-sm font-medium font-serif text-gray-900"
          >
            Job Description
          </label>
          <textarea
            formControlName="jobDescription"
            rows="5"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif text-xs md:text-sm rounded-md block w-full p-2 md:p-2.5"
          ></textarea>
          <!-- Error message for Job Description -->
          <div
            *ngIf="
              workExperienceForm.get('jobDescription')!.touched &&
              workExperienceForm.get('jobDescription')!.invalid
            "
            class="text-red-500 text-xs md:text-sm font-serif mt-1"
          >
            <span
              *ngIf="workExperienceForm.get('jobDescription')!.errors?.['required']"
              >Job Description is required.</span
            >
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          [disabled]="loading"
          class="relative w-full text-white font-serif bg-primary hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-xs md:text-sm p-2 md:p-2.5 text-center"
        >
          <svg
            *ngIf="loading"
            aria-hidden="true"
            class="inline h-4 animate-spin"
            viewBox="0 0 100 101"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
          <span *ngIf="!loading">Submit</span>
        </button>
      </form>
    </div>
  </div>
</div>
