<!-- Form Container -->
<div
  class="flex flex-col items-center justify-center w-3/4 mx-auto min-h-[80vh]"
>
  <!-- Form Wrapper -->
  <div class="w-full bg-first rounded-lg shadow-md sm:max-w-md">
    <!-- Form Content -->
    <div class="p-6 py-4 md:py-10 md:px-12">
      <!-- Title -->
      <h1 class="text-xl text-primary font-bold font-serif mb-6 md:text-2xl">
        Sign In
      </h1>
      <!-- Sign In Form -->
      <form
        [formGroup]="signin"
        (ngSubmit)="onSubmit()"
        class="space-y-4 md:space-y-6"
      >
        <!-- Email Input -->
        <div>
          <label
            class="block mb-2 text-sm font-medium font-serif text-gray-900"
          >
            Email
          </label>
          <input
            type="email"
            formControlName="email"
            placeholder="example@example.com"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif sm:text-sm rounded-lg block w-full p-2.5"
          />
          <!-- Display email error messages -->
          <div
            *ngIf="signin.get('email')!.invalid && signin.get('email')!.touched"
            class="text-red-500 text-sm font-serif"
          >
            <!-- Show error message -->
            <span *ngIf="signin.get('email')!.errors?.['required']">
              Email is required.
            </span>
            <span *ngIf="signin.get('email')!.errors?.['email']">
              Invalid email format.
            </span>
          </div>
        </div>

        <!-- Password Input -->
        <div>
          <label
            class="block mb-2 text-sm font-medium font-serif text-gray-900"
          >
            Password
          </label>
          <input
            type="password"
            formControlName="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 font-serif sm:text-sm rounded-lg block w-full p-2.5"
          />
          <!-- Password error messages -->
          <div
            *ngIf="
              signin.get('password')!.invalid && signin.get('password')!.touched
            "
            class="text-red-500 text-sm font-serif"
          >
            <!-- Show error message -->
            <span *ngIf="signin.get('password')!.errors?.['required']">
              Password is required.
            </span>
          </div>
        </div>

        <!-- Server-side Error Message -->
        <span *ngIf="errorMessage" class="text-red-500 text-sm font-serif">
          {{ errorMessage }}
        </span>

        <!-- Sign In Button -->
        <button
          type="submit"
          class="w-full text-white font-serif bg-primary hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >
          Sign In
        </button>

        <!-- Sign Up Link -->
        <p class="text-sm font-light font-serif text-gray-600 text-center">
          Don't have an account?
          <a
            class="font-medium font-serif text-primary hover:underline cursor-pointer"
            (click)="navigate()"
          >
            SignUp here
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
